# Auto detect text files and perform LF normalization
* text=auto

# JS files
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf

# Config files
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Images - binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary

# Fonts - binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
